{% extends 'homepage/base.html' %} {% block header-extras %}
<script src="https://js.stripe.com/v3"></script>
{% endblock header-extras %}
<br />

{% block content %}
<h1 class="mt-5 mb-5">Payment Page for {{ charge.title }}</h1>
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="payment-amount">Amount You'd like to pay</label>
    <input
      type="number"
      min="0"
      max="{{ charge.due_now }}"
      class="form-control"
      id="payment-amount"
      placeholder="0"
      name="payment-amount"
    />
    <small class="form-text text-muted"
      >You can choose any amount, amount due: {{ charge.due_now }}
    </small>
  </div>
  {% if charge.paid is False %}
  <button id="checkout-button" class="btn btn-primary ">Pay</button>
  {% endif %} {% block bottom-section %} {% if id %}

  <script>
    var stripe = Stripe("{{ key }}");
    stripe.redirectToCheckout({ sessionId: "{{ id }}" });
  </script>
  {% endif %} {% endblock bottom-section %}
</form>
{% endblock content %}
