{% extends 'homepage/base.html' %}
<br />

{% block content %} {% ifequal wrong_person "landlord" %}
<h3 class="mt-5 mb-5">
  You are logged in as a landlord but trying to access the renters page
</h3>
<a class="btn btn-primary" href="{% url 'landlord-dashboard' %}"
  >Click here to go to landlord's dashboard</a
>
{% endifequal %} {% ifequal wrong_person 'renter' %}

<h3 class="mt-5 mb-5">
  You are logged in as a renter but trying to access the landlords page
  <a class="btn btn-primary" href="{% url 'renter-dashboard' %}"
    >Click here to go to renters's dashboard</a
  >
</h3>
{% endifequal %} {% endblock content %}
