{% extends 'homepage/base.html' %} {% block content %}
<div class="row justify-content-md-center mt-5">
  <h1>Rent show for {{ rent.name }}</h1>
</div>
<div class="row mt-1 ml-1">
  <a class="btn btn-primary" href="{% url 'landlord-dashboard' %}"
    >Go back to dashboard</a
  >
</div>
{% if recurring_charges %}
<div class="row">
  <ul class="list-inline mt-5">
    <h4>Recurring Charges:</h4>
    {% for charge in recurring_charges %}
    <li
      class=" btn list-inline-item  list-group-item-action
      list-group-item-{{ charge.alert }} mt-1"
    >
      <h1>{{ charge.title }}</h1>
      <h3>
        Next Due date:
        <span>
          {{ charge.due_date }}
        </span>
      </h3>
      <p>
        <span>
          Recurring until
        </span>
        {{ charge.recurring_until.month }}/{{charge.recurring_until.year }}
      </p>
      <small>{{ charge.status }}</small>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% if one_time_charges %}

<div class="row">
  <ul class="list-inline mt-5">
    <h4>One time charges:</h4>
    {% for charge in one_time_charges %}
    <li
      class=" btn list-inline-item  list-group-item-action
      list-group-item-{{ charge.alert }} mt-1"
    >
      <h3>{{ charge.title }}</h3>
      <h5>Due date: {{ charge.due_date }}</h5>
      <small>{{ charge.status }}</small>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<hr />
{% if renters %}
<h3>Renters on this rent</h3>
<ul class="list-group">
  {% for renter in renters %}
  <p class="list-group-item">
    {{ renter.profile.first_name }} {{ renter.profile.last_name }},
    {{renter.profile.email }}
  </p>
  {% endfor %}
</ul>
{% else %}
<h3>There are no renters on this rent</h3>
{% endif %}
<hr />

<a class="btn btn-secondary" href="{% url 'new-charge' rent.id %}"
  >Create new charge for this rent</a
>
<hr />

<div class="row mt-1">
  <h5>Add a renter to this rent by email</h5>
</div>
<div class="row mt-3 mb-5">
  <form id="add-form" method="POST">
    {% csrf_token %}
    <label for="emailinput">Email:</label>
    <input
      id="emailinput"
      style="height: 2.2rem"
      type="email"
      required
      name="email"
    />
    <input type="hidden" name="rent_id" value="{{ rent.id }}" />
    <input type="submit" class="btn btn-info" value="Submit" />
  </form>
</div>
{% endblock content %}
